<div class="container">
  <h1>Gestion Articles</h1>

  <%= link_to 'Nouvel Article', new_admin_article_path, class: "btn btn-dark btn-block mb-2" %>

  <ul class="list-group list-group-flush">
    <% @articles.each do |article| %>
      <%= link_to article do %>
        <li class="list-group-item border border-dark row">
          <%= cl_image_tag article.image, size: '100', class: "col-3" %>
          <span class="col-10"><%= article.title %></span>
          <%= link_to edit_admin_article_path(article), class: "col-1" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <%= link_to admin_article_path(article), method: :delete, data: { confirm: "Etes vous sûr ?" }, class: "col-1" do %>
              <i class="fas fa-trash"></i>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

