<div class="article container-fluid">
  <%= cl_image_tag @article.image, class: "image" %>
  <div class="wrapper row">
    <div class="col-sd-12 col-md-9">
      <p class="hits">
        Nombres de vues : <%= @article.hits %>
      </p>
      <h2 class="title">
        <%= @article.title %>
      </h2>
      <h3 class="summary">
        <%= @article.summary %>
      </h3>
      <p class="content">
        <%= @article.content %>
      </p>
    </div>
    <div class="share col-sd-12 col-md-3">
      <h5>PARTAGER L'ARTICLE</h5>
      <%= social_share_button_tag(@article.title) %>
    </div>
  </div>
</div>
